[Desktop Entry]
Type=Application
Name=Blinbuntu Welcome
Comment=Welcome wizard for Blinbuntu
Exec=/usr/bin/blinbuntu-welcome
Icon=preferences-desktop-accessibility
Terminal=false
Categories=System;Utility;Accessibility;
Keywords=welcome;setup;accessibility;
StartupNotify=true
